/* styles/eventsdet.css */
.event-details-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #f0f4f8;
    padding: 20px;
}

.event-details-content {
    width: 90%;
    max-width: 1000px;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s;
}

.event-details-container {
    position: relative;
    width: 100%;
    height: 500px; /* Adjust as needed */
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.event-info {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    margin-right:45px;
}

.event-info h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-family: 'Arial Black', sans-serif;
}

.event-info p {
    font-size: 1.2rem;
    margin: 5px 0;
    font-family: 'Arial', sans-serif;
}

.event-book {
    align-self: flex-end;
    margin-top: 20px;
    margin-right:50px;

}

.event-book button {
    padding: 15px 30px;
    /* background-color: #007BFF;
     */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    outline: none;
}

.event-book button:hover {
    background-color: #5f666e;
    transform: translateY(-2px);
}
