.eventd-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.eventd-content {
    width: 80%;
    max-width: 1200px;
}

.eventd-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.eventd-details {
    display: flex;
    align-items: center;
}

.eventd-image img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.eventd-eventname {
    margin-left: 20px;
}

.eventd-eventname h2 {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.eventd-book button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.eventd-book button:hover {
    background-color: #555;
}
